/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

img {
  /* scale to fill the width of the parent element */
  width: 100%;
  /* preserves the pixel aspect ratio */
  height: auto;
}

/* Flexbox simple row layouts */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* some more properties so we can see our divs */
  border: 1px solid purple;
  background-color: rgba(255, 0, 255, 0.3);
  min-height: 400px;
}

.item {
  border: 1px solid cornflowerblue;
  background-color: rgba(0, 0, 255, 0.3);
  width: 23%;
  height: 300px;
}

/* Atomic CSS Design Pattern */
.center {
  display: flex;
  /* horiztonal distribution */
  justify-content: center;
  /* vertical alignment */
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-even {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.self-stretch {
  align-items: stretch;
  height: auto;
}

/* Classic Layout Example */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  min-height: 100px;
  background-color: aqua;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* change the justfiy content values and see the differences */
  justify-content: flex-start;
  align-items: center;
  background-color: darkcyan;
}

.grid-item {
  width: 31%;
  margin: 1%;
}

.secondary-nav {
  min-width: 25%;
  background-color: aquamarine;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid grey;
}

.menu span {
  padding: 1rem;
  font-size: 2rem;
}

.menu a {
  text-decoration: none;
  font-weight: 600;
  color: #111;
  width: 100%;
  display: flex;
  align-items: center;
}
