*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100%;
    height: auto;
}

.thumb {
    width: 25%;
}


/* #box_sizer{
    width: 200px;
    height: 200px;
    border: 10px solid rgb(3, 38, 105);
    background-color: rgb(255, 230, 0);
} */